

.d-wrapper-main {
    display: grid;
    pointer-events: none;
    position: relative;
    margin-top: calc(10px + 0.1vh);
    
}

.d-box0{
    display: grid;
    position: relative;
    pointer-events: none;
    
}


.game-title{

    position: absolute;
    justify-self: center;
    align-self: center;

    color: #FFD700;
    text-shadow: 2px 1px 1px rgb(42, 0, 82);


    font-size: calc(16px + 1.3vw);
    pointer-events: none;
}

.plack{
    width: 100%;
    pointer-events: none;
}




/* GAME OF DICE STAR
*/


.winnerbutton{
    cursor: pointer;
}

.star{
    display: block;
    margin: auto;
    height: 20px;
    width: 20px;
    animation: none;
    pointer-events: initial;
}

.star:hover{
    animation: pulse 2s;
}


/* ////////////
/// GameOfDice - Score table
/////// */

::placeholder{
    color: black;
    opacity: 1;
}



.scoreinput{

    border: 0 !important;

    justify-items: stretch;
    align-items: center;

    max-height: 2em;
    max-width: 100%;
    box-shadow: none;
    background-color:  rgba(115, 89, 177, 0 );
    text-indent: 3px;

   
    line-height: 1;
    color: black;
    margin: 0;

    border-style: none;
    font-family: 'Jaldi', sans-serif;
    font-size: 1em;


}


.scoreinput:focus{
    outline: 0
}


/* ////////////

/////// */




/* TITLE */
.d-box0{
    justify-content: center;
    align-content: center;
}



/* RESULT, WHOSE TURN */

.d-box4{
    margin: 10px 0 0 0;
    justify-content: center;
    align-content: center;
}



/* FOR MULITPLE GIFS, TOPPING EACH OTHER */ 


.topgif{
    position: absolute;
    z-index: -1000;
    
    left: 50vw;
    top: 0;

    
    pointer-events: visible;

    transform: translateX(-50%);

    pointer-events: none;
}




$aspectmax : "(max-aspect-ratio: 1/1)";  
$aspectmin : "(min-aspect-ratio: 1/1)";  
$aspect1 : "(aspect-ratio: 1/1)";  

@media only screen and #{$aspectmax}{
    .topgif{
        height: calc(100vw);
        width: calc(100vw);
    }
}


@media only screen and #{$aspect1}{
    .topgif{
        height: calc(100vh - 50px);
        width: calc(100vh - 50px);
    }
}

@media only screen and #{$aspectmin}{
    .topgif{
        height: calc(100vh - 50px);
        width: calc(100vh - 50px);
    }
}


.throw-bttn{
    /*
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-stretch: 140%;
    
    */
    font-weight: 800;
    font-size: calc(10px + 0.2vw);

    margin: 2em 1em;;
    
    border-radius: 50%;
    border: 5px outset #FFD700;
    
    background-image: url('../img/placks/plack2.png');
    background-color: rgba(255, 255, 0, 0.1);
    background-position: center;
    color: #333;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.3);
    
    pointer-events: initial;
    cursor: pointer;
    width: 7em;
    height: 7em;
    padding: 6px;
}

.throw-bttn:hover{
    /*background-color: rgba(188, 164, 226, 0.4);*/
}

.throw-bttn:active{
    border: 3px inset #FFD700;
}

.startingstill{
    display: none;
}


/* desktop styles*/
@media screen and (min-width: 991px){
    
    .bg-middle{

        left: 20%;
        width: 60%;
        height: 100%;
    }

    .result-grid, .keep-track-bttns{
        padding: 0 25% 0 25%;
    }

    .toss-bttn-div-game {
        max-width: 900px;
        height: 500px;
    }

    
    .toss-bttn-div-game img{
        height: 500px;
        width: 500px;
        margin-left: -250px;
    }
    
    .toss-bttn-div-custom img, 
    .toss-bttn-div-custom video{
        height: 200px;
        width: 200px;
    }



    .d-wrapper-main {
        display: grid;
        grid-template-columns: 1fr 4fr 1fr;

    }
    
    .d-box0{
        grid-column: 2;
        grid-row: 1;
        
    }

    .d-box1{
        grid-column: 1;
        grid-row: 2/5;
        grid-column-gap: 1;
        
    }
    
    .d-box2{
    }
    
    .d-box3{
        grid-column: 3;
        grid-row: 2/5;
        
    }
    
    .d-box4{
        grid-row: 2;
        grid-column: 2;
    }

    .d-box5{
        grid-row: 4;
        grid-column: 2;
    }

    .d-box6{
        grid-row: 3;
        grid-column: 2;
    }


    .open-sidebar{
        margin-left: 300px;
        transition: all 0.3s ease-in;
    }

    .search-bar{
        width: 300px;
    }

   
    .game-subtitle{
        font-size: 20px;
    }


}


/* large tablet styles*/
@media screen and (max-width: 991px){

    .bg-middle{
        left: 20%;
        width: 60%;
        height: 100%;
    }

    .result-grid, .keep-track-bttns{
        padding: 0 20% 0 20%;
    }


    .d-wrapper-main {
        display: grid;
        grid-template-columns: 1fr 4fr 1fr;
       
    }
    
    .d-box0{
        grid-column: 2;
        grid-row: 1;
        
    }

    .d-box1{
        grid-column: 1;
        grid-row: 2/5;
        grid-column-gap: 1;
        
    }
    
    .d-box2{
    }
    
    .d-box3{
        grid-column: 2;
        grid-row: 3;
        
    }
    
    .d-box4{
        grid-row: 2;
        grid-column: 2;
    }

    .d-box5{
        grid-row: 4;
        grid-column: 2;
    }

    .d-box6{
        grid-row: 3;
        grid-column: 2;
    }


    .toss-bttn-div-game {
        max-width: 900px;
        height: 300px;
    }

    .toss-bttn-div-game img{
        width: 300px;
        margin-left: -150px;
    }
    
    .toss-bttn-div-custom img, 
    .toss-bttn-div-custom video{
        height: 150px;
        width: 150px;
    }


    .search-bar{
        width: 300px;
    }

 
    .game-subtitle{
        font-size: 20px;
    }
}


/* medium tablet styles*/
@media screen and (max-width: 800px){
    .d-wrapper-main {
        display: grid;
        grid-template-columns: 1fr 6fr 1fr;
       
    }
    
    .result-grid, .keep-track-bttns{
        padding: 0 15% 0 15%;
    }

    .d-box0{
        grid-column: 2;
        grid-row: 1;
        
    }

    .d-box1{
        grid-column: 1;
        grid-row: 2/5;
        grid-column-gap: 1;
        
    }
    
    .d-box2{
    }
    
    .d-box3{
        grid-column: 2;
        grid-row: 3;
       
    }
    
    .d-box4{
        grid-row: 2;
        grid-column: 2;
    }

    

    .toss-bttn-div-game {
        max-width: 700px;
        height: 200px;
    }

    .toss-bttn-div-game img{
        width: 200px;
        margin-left: -100px;
    }
    

}


@media screen and (max-width: 667px){

    .bg-middle{
        left: 15%;
        width: 70%;
        height: 100%;
    }

    .result-grid{
        padding: 0 15% 0 15%;
    }


    .d-wrapper-main {
        display: grid;
        grid-template-columns: 1fr 3px;
        padding: 0 calc(10px + 0.2vw);
    }
    
    .d-box0{
        grid-column: 1;
        grid-row: 1;
    }

    .d-box1{
        grid-column: 1;
        grid-row: 3/5;
    }
    
    .d-box2{
        grid-column: 1;
        grid-row: 5;
    }

    .d-box3{
        grid-column: 1;
        grid-row: 3/5;

    }
    
    .d-box4{
        grid-row: 2;
        grid-column: 1;
    }

    .d-box5{
        grid-row: 4;
        grid-column: 1;
    }


    .d-box6{
        grid-row: 3;
        grid-column: 1;
    }

    .toss-bttn-div-game {
        max-width: 500px;
        height: 200px;
    }

    .toss-bttn-div-game img{
        width: 200px;
        margin-left: -100px;
    }
    
    .open-sidebar{
        margin-left: 100vw;
        transition: all 0.3s ease-in;
    }

    .search-bar{
        width: 100vw;
    }

    .game-subtitle{
        font-size: 15px;
    }
}




/* medium tablet styles*/
@media screen and (max-width: 479px){

    .bg-middle{
        left: 10%;
        width: 80%;
        height: 100%;
    }


    .result-grid, .keep-track-bttns{
        padding: 0 10px 0 10px;
    }

    .d-wrapper-main {
        display: grid;
        grid-template-columns: 1fr 1px;
        padding: 0 calc(10px + 0.2vw);
    }
    
    .d-box0{
        grid-column: 1;
        grid-row: 1;
    }

    .d-box1{
        grid-column: 1;
        grid-row: 3;
        grid-column-gap: 1;
        padding: 5% 5%;
    }
    
    .d-box2{
        grid-column: 1;
        grid-row: 5;
    }
    
    .d-box3{
        grid-column: 1;
        grid-row: 4;
        padding: 5% 5%;
    }
    
    .d-box4{
        grid-column: 1;
        grid-row: 2;
        
    }

    
    .toss-bttn-div-game {
        max-width: 400px;
        height: 200px;
    }

    .toss-bttn-div-game img{
        width: 200px;
        margin-left: -100px;
    }



    .game-subtitle{
        font-size: 13px;
    }
    
}



@media screen and (max-width: 372px){
    

    .d-wrapper-main {
        grid-template-columns: 1fr 5px;
        padding: 0 calc(10px + 0.2vw);
    }

    .game-subtitle{
        font-size: 13px;
    }

    .bg-middle{
        left: 0px;
        width: 100%;
        height: 100%;
    }

    /*
    .bg-middle{
        display: none;
    }

    .main-part{
        background-color: rgba(186, 186, 212, 0.425);
        z-index: -10000;
    }
    */
}

@media screen and (max-width: 315px){



    .game-subtitle{
        font-size: 10px;
    }


}


/*
    result boxes
*/

.result-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2px;
    column-gap: 2px;
    
    font-family: 'Jaldi', sans-serif;
    font-size: calc(10px + 0.4vw);
}

.result-boxing{
    text-align: left;
    border: 6px solid rgb(73, 73, 122);
    background-color: rgba(162, 162, 211, 0.3);
    border-radius: 0.3rem;

}

.current-player{
    padding: 0.5em 1em 0.5em 1em;
    margin: 2px;
    background-color:  rgba(95, 95, 236, 0.3);
}

.next-player{
    padding: 0.5em 1em 0.5em 1em;
    margin: 2px;
    background-color:  rgba(133, 95, 236, 0.555);
}

.result-content{
    padding: 0.5em 1em 0.5em 1em;
    margin: 2px;

    height: 58%;
}
/*
    GAME PAGE: KEEP TRACK 
*/



.keep-track-table{
   
    text-align: left;
    text-justify: center;
    width: 100%;
    table-layout: fixed;
    border: 6px solid rgb(73, 73, 122);
    /*background-color: rgba(162, 162, 211, 0.555);*/
    border-radius: 0.3rem;

    font-family: 'Jaldi', sans-serif;
    font-size: calc(10px + 0.4vw);
    margin-top: 1em;
}

.keep-track-table th{
    padding: 0.5em 1em 0.5em 1em;
    
    background-color:  rgba(109, 95, 236, 0.555);
}

.keep-track-table td{
    padding: 0.5em 1em 0.5em 1em;
    background-color:  rgba(115, 89, 177, 0.3  );

    
}


td input{
    overflow-wrap: break-word;
}

td textarea{
    overflow-wrap: break-word;
}

.keep-track-bttns {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 1em;
    grid-row-gap: 0.5em; 
}


/*
    GAME PAGE: MULTI PLAYER 
*/


.adding-player{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1em;
    grid-row-gap: 0.5em;
    grid-auto-rows: minmax(30px, 40px);
    margin: 0.5em;
}


.remove-player{
    align-self: center;
}


div.prepare-multi-player-game {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1em;
    grid-row-gap: 0.5em;
    padding: 0 20px;
}



.game-settings{
    padding: 10px 20px 10px 20px;
    background-color: rgb(222, 219, 223);
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);

    margin: 0 0 20px 0;
}

.game-settings p{
    color: #333;
}


.game-settings select{
    background-color: rgba(186, 186, 212, 0.425);
    padding: 0.5em;
    font-size: 1rem;
    font-family: 'Jaldi', sans-serif;
    display: block;
    width: 175px;
    margin: auto;
    margin-bottom: 10px;
}


.game-settings button{
    display: block;
    margin: auto;
    
}



/*
    GAME PAGE: ANIMATION


.pointer-pickup{
    cursor: url("../img/cursor/starblue.svg"), auto;
    
}


.pointer-thrown{
    cursor: url("../img/cursor/starpurple.svg"), auto;
    
}

*/
